<nav class="navbar navbar-expand-sm bg-light nav">
    <a class="navbar-brand ml-5 " href="">
        <img src="../../../assets/images/logo.svg" class="d-inline-block align-top brand" alt="">

    </a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">

            <a class="nav-link ml-3 " href="">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-3" href="">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-3" href="">Settings</a>
        </li>
    </ul>

</nav>


<!-- 
<div class="sidebar">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Dropdown button
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
</div> -->



<!-- Bootstrap row -->
<div class="sidebar">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted bg-dark d-flex   menu-collapsed">
                <small><i class="cui-speedometer mr-2 text-primary "></i>MAIN MENU</small>
            </li>
            <!-- /END Separator -->
            <!-- Menu with submenu -->
            <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start ">
                
                    <span class="menu-collapsed"><i class="iconColor cui-drop mr-2"></i>Dashboard</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id='submenu1' class="collapse sidebar-submenu ">
                <a href="" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Charts</span>
                </a>
                <a href="" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Reports</span>
                </a>
                <a href=""class=" list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Tables</span>
                </a>
            </div>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
                class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed"><i class="cui-user-follow iconColor mr-2"></i>User Registration</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id='submenu2' class="collapse sidebar-submenu">
                <a routerLink="/dashboard/log-in"  class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Sign In</span>
                </a>
                <a routerLink="/dashboard/sign-up" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Sign Up</span>
                </a>
            </div>
            <a href="" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                
                    <span class="menu-collapsed"><i class="cui-task iconColor mr-2"></i>Tasks</span>
                </div>
            </a>
            <a href="" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    
                    <span class="menu-collapsed"><i class="cui-bell iconColor mr-2"></i>Notification</span>
                </div>
            </a>
            <a href="" data-toggle="sidebar-colapse"
                class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                <div class="d-flex w-100 justify-content-start align-items-center">
            
                    <span id="collapse-text" class="menu-collapsed"><i
                            class="cui-phone iconColor mr-2"></i>Contact</span>
                </div>
            </a>

        </ul><!-- List Group END-->
        
    </div><!-- sidebar-container END -->

</div>
<div>
<router-outlet></router-outlet>
</div>
    

    <div class="footer">
        <p> <span class="text-primary">THE CONTRAST </span><span> @ 2019</span>
        
        </p>
        <!-- <span><a href="https://coreui.io/pro/angular/">CoreUI Pro</a> © 2018
                creativeLabs.</span><span class="ml-auto">Powered by <a href="https://coreui.io/pro/angular">CoreUI Pro
                    for Angular</a></span> -->
    </div>

