
.image
{
    height: 400px;
    width:800px;
}

.defaultPanel
{
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.tagLine
{
    font-size: 18px;
}


.brand1
{
    border-radius: 50%;
    height: 45px;
    width: 45px;
}