<!-- <h1>Pipe files Share by Shared Module </h1>
<p>'Squareroot pipe ='{{144|sqrt}}</p>
<br>
<p>'elisp pipe ='{{'bhagyashrishetageabsnmdbmasnb'|elisp}}</p>
<button type="button" (click)="callchildfun()" >CALL CHILD FUNCTON</button>
<p>this change for first commit in branch1</p>
<p>changes made by Pratiksha hii</p>

<br>
<button type="button" (click)="gotopratiksha()">go to pratiksha</button> -->
<!-- <a routerLink="/pratiksha" >pratiksha</a>


<button routerLink="/pratiksha" >pratiksha</button>
<br>

<button routerLink="/bhagyashri" >bhagyashri</button> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-fixed-layout></app-fixed-layout> -->
<!-- <app-login></app-login> -->
<!-- <app-sign-up></app-sign-up> -->
<router-outlet></router-outlet>
<!-- <child-component (parentUpdate)="testOutput($event)" [parentData]="name" #childmethod></child-component> -->
