<div class="sidebar">
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
      <li class="list-group-item sidebar-separator-title text-muted bg-dark d-flex   menu-collapsed">
        <small><i class="cui-speedometer mr-2 text-primary "></i>MAIN MENU</small>
      </li>


      <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start ">

          <span class="menu-collapsed"><i class="iconColor cui-drop mr-2"></i>Role</span>
          <span class="submenu-icon ml-auto"></span>
      </div>
  </a>
  <!-- Submenu content -->
  <div id='submenu1' class="collapse sidebar-submenu ">
      <a href="" class="list-group-item list-group-item-action bg-dark text-white" (click)="setAdmin()" >
          <span class="menu-collapsed">Admin</span>
      </a>
      <a href="" class="list-group-item list-group-item-action bg-dark text-white" (click)="setUser()">
          <span class="menu-collapsed">Guest</span>
      </a>
  </div>
  
  <a href="#submenu2" data-toggle="collapse" aria-expanded="false" *ngFor="let item of items"
  class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-start ">

      <span class="menu-collapsed"><i class="iconColor cui-drop mr-2"></i>{{item.option}}</span>
      <span class="submenu-icon ml-auto"></span>
  </div>
</a>
<!-- Submenu content -->
<div id='submenu2' class="collapse sidebar-submenu " *ngFor="let item of items.children">
  <a href="" class="list-group-item list-group-item-action bg-dark text-white"  >
      <span class="menu-collapsed">{{item.option}}</span>
  </a>
</div>

    </ul>


    
  </div>
</div>



